/*
Probot
Your tool against procrastination.
Final Assignment for CTH 2016
authors: Lenka, Laura and Vivien
14-12-2016 
*/

type="text/css"> /* CSS Styling */ 
         @font-face { font-family: Montserrat; src: url('/Montserrat-Regular.ttf'); } /*loads custom fonts for the text*/
         @font-face { font-family: Hind; src: url('/Hind-Medium.ttf'); }
    
        body {
            min-width: 630px;       /*body of the webpage*/ 
        }
        #container {
            padding-left: 200px;      /*container which contains middle part of webpage: left colomn, right column and centre*/
            padding-right: 200px;     
        }

        #container .column {
            position: relative;
            float: left;
        }
        
        #center {                   /*center of webpage, containing the text editor and progress bar*/ 
            padding: 10px 0px;       
            width: 100%;
            height: 550px;
            
        }
        #ckcontainer {                  /*container for the ckeditor */ 
                margin-right: auto;
                margin-left: auto ;
                width: 1000px;
                vertical-align:middle;
            }
        
        #left {                     /*left column, for future development we could add some sort of side menu here*/ 
            width: 180px;             
            padding: 0 10px;          
            right: 200px;             
            margin-left: -100%;
        }
        
        #right {                       /*right column of the webpage*/ 
            width: 180px;            
            padding: 0 10px; 
            right: 0px;         
            margin-right: -100%;
        }
        
        #footer {                   /*footer*/ 
            clear: both;
        }
        
        /*** IE Fix ***/            /*fixes problems with web page layout in internet explorer*/
        * html #left {
            left: 150px;              
        }
        /*** Equal-height Columns ***/   /*makes the columns always the same height*/
        #container {
            overflow: hidden;
        }
        #container .column {
            padding-bottom: 1001em;    
            margin-bottom: -1000em;     
        }
        /*** Footer Fix ***/            /*makes the footer stick to the bottom of the webpage*/
        * html body {
            overflow: hidden;
        }
        
        * html #footer-wrapper {
            float: left;
            position: relative;
            width: 100%;
            padding-bottom: 10010px;
            margin-bottom: -10000px;
            background: #FFF;         
        }

        /*** LAYOUT ***/
        body {
            margin: 0;
            padding: 0;
            background-image: url(/bg5.jpeg);  /*sets background of whole page*/ 
        }

        #header{                                /*header style*/ 
            font-size: large;
            text-align: center;
            padding: 0.3em 0;
            height: 60px;
            background: transparent;
            
        }
            #titletext {                        /*the text inside the header, currently "Probot."*/ 
                text-align: left;
                width: 500px;
                border-bottom: solid white 2px;
                padding-top: 22px;
                padding-right: 30px;
                padding-bottom: 13px;
                padding-left: 30px;
                font-family: Montserrat, Times, serif;
                font-size: x-large;
                color: #333333;
        }
        #footer {                               /*footer style*/ 
            text-align: right;
            padding-right: 10px;
            padding-top: 35px;
            height: 20px;
            font-family: Hind, Times, serif;
            font-size: medium;
            color: black;
        }

        #left {                                   /*colour and style of the two side colums, currently transparent, but can be set to a different colour to create nice side menus */ 
            background: transparent;
        }
    
        #right {
            background: transparent;
        }

        #center {                                  /*center container style*/                        
            background: transparent;
        }
        #container .column {
            padding-top: 1em;
            text-align: justify;
        }

  